@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

*:focus{
  outline: none;
}
*{
  -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5,p,button{
  font-family: 'Exo',sans-serif !important; 
}



a{
  color: inherit;
  text-decoration: none;
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black; 
  background: white;
}


$primary:#FECC00;

.primary{
  color: $primary;
}

.bg-primary{
  background: $primary;
}

.desktop-only{
  @include for-phone-only{
    display: none !important;
  }
}

.phone-only{
  @include for-tablet-portrait-up{
    display: none !important;
  }
}